
    <div class="col s4 m4">
      <div class="card white">
        <div class="card-content black-text">
          <div class="row">
            <div class="col s8">
              <p>name:</p>
              <p>{{input type="text" value=food.name}}</p>
              <p>servings:</p>
              <p>{{input type="number" value=food.servings}}</p>
              <p>Calorias: {{food.calories}}</p>
              <p>product:</p>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              {{#power-select options=products
                          selected=food.product
                          onchange=(action "agregarProduct") 
                          as |producto|}}
            {{producto.name}}
          {{/power-select}}
            </div>
          </div>
        </div>
      </div>
    </div>

