{{#if has-block}}
	{{yield}}
{{else}}

    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://d25rq8gxcq0p71.cloudfront.net/language-guide/758/pepperoni%20pizza.jpg">
          <span class="card-title">
          	{{title}}
          </span>
        </div>
        <div class="card-content">
          <p>{{content}}</p>
        </div>
        <div class="card-action">
          <div>
            {{link-to 'DETAILS' 'auth.meals.detail' meal.id }} 
          </div>
          
        </div>
      </div>
    </div>
{{/if}}

  