	<div class="row">
		{{#each model as |product|}}
			{{product-card 
				title=product.name 
				content=product.calories 
				onUpdate=(action 'updateProduct' product)
				onDelete=(action 'deleteProduct' product)}}
		{{/each}}
	</div>
<div class="fixed-action-btn">
  <button class="btn-floating btn-large red" {{action 'createProductRecord'}}>
    <i class="large material-icons">add</i>
  </button>
</div>
      
