.fatty{
	background-image: url("https://www.youcubed.org/wp-content/uploads/2017/03/pig_thm.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
	width: 300px;
}
.slim{
	background-image: url("https://www.economist.com/sites/default/files/20180929_BLP506.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
	width: 300px;ba
}
.verde{
	background-color: green;
}
.rojo{
	background-color: red;
}