<p><i class="material-icons prefix">account_circle</i>{{input type="text" value=model.meal.name}}</p>
<p>Calorias: {{model.meal.totalCalories}}</p>
<h4>Add some food:</h4>
<div class="row">
{{#each model.meal.foods as |food|}}
	{{food-card food=food
				products=model.products}}
{{/each}}
</div>

<button {{action 'agregar'}} >Agregar</button>
<button {{action 'guardar' model.meal}} >Guardar</button>
