<h1>Meals</h1>
<div class="row">
	{{#each model as |meal|}}
		{{product-card 
			title=meal.name 
			content=meal.description 
			onUpdate=(action 'updateMeal' meal)
			onDelete=(action 'deleteMeal' meal)
			meal=meal
			}}
		
	{{/each}}
</div>
 <button {{action 'addMeal'}} class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button>