 <nav>
    <div class="nav-wrapper">
      {{link-to 'Home' 'auth'}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<li>{{link-to 'Productos' 'auth.products'}}</li>
      	<li>{{link-to 'Meals' 'auth.meals'}}</li>
        <li>{{link-to 'Carrot' 'auth.carrot'}}</li>
      	<li>{{link-to 'Logout' 'login'}}</li>
      </ul>
    </div>
  </nav>
  {{outlet}}