 <div class="row">
    <form class="col s12" {{action 'login' on="submit"}}>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" value=username class="validate" id="icon_prefix"}}
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          {{input type="password" value=password class="validate" id="icon_pass"}}
          <label for="icon_telephone">Password</label>
        </div>
        <div class="row">
          <button class="waves-effect waves-light btn red">
            <i class="material-icons left">send</i>Login
          </button>
        </div>
      </div>
    </form>
  </div>
        